<div class="container">
	<h1><b>GET REGION DETAILS</b></h1>
<region label="Select Region" [options]="regions$" (selected)="$$getCountries($event)" class="me-3"></region>
<ng-container *ngIf="showCountries">
	<region label="Select Country" [options]="countries$" (selected)="$$displayCountries($event)"></region>
</ng-container>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  <h3>ERROR</h3>
  <p>{{errorMessage}}</p>
</div>
	<country-details [details]="detail$"></country-details>
</div>